.landingPage-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #78db7b 0%, #ffffff 100%);
}

.landingPage-layout__landingPage {
  flex: 1;
  width: 100%;
}
